spacy
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.3.1/de_core_web_sm-2.3.1.tar.gz
streamlit
sklearn
sklearn.feature_extraction.text
xgboost
wordcloud
joblib
matplotlib
matplotlib.pyplot
re
string
unicodedata
nltk
nltk.corpus
bs4
PIL

